
### Web Development Workshops and Courses

* **Girl Develop It San Francisco:** AJAX, Object-Oriented JavaScript and MVC Architecture, Backbone, APIs
* **College of San Mateo:** PHP and mySQL
* **Conferences:** jQuerySF, Forwardjs, Codepen
* **Meetups:** SF HTML5, SF Javascript, Bay Area d3, San Franscisco SVG, Peninsula NoSQL, Silicon Valley Big Data Science, Women Who Code

### Master of Arts, Mathematics Education

#### Claremont Graduate University, Claremont, CA

Coursework included language aquisition, mathematical problem solving, school technology

### Bachelor of Arts, Education + Child Study

#### Claremont McKenna College, Claremont, CA

Senior thesis explored linguistic aspects of mathematics and implications for teaching strategies.  Coursework included mathematics, linguistics, art
