<h3>Web Development Workshops and Courses</h3>

<ul>
<li><strong>Girl Develop It San Francisco:</strong> AJAX, Object-Oriented JavaScript and MVC Architecture, Backbone, APIs, Unit Testing with Jasmine</li>
<li><strong>General Assembly:</strong> Teaching Adult Learners</li>
<li><strong>College of San Mateo:</strong> PHP and mySQL</li>
<li><strong>Conferences:</strong> jQuerySF, Forwardjs, Codepen, Hack Summit, DeveloperWeek</li>
<li><strong>Meetups:</strong> SF HTML5, SF Javascript, Bay Area d3, San Franscisco SVG, Peninsula NoSQL, SF Elm User Group</li>
</ul>

<h3>Master of Arts, Mathematics Education</h3>

<h4>Claremont Graduate University, Claremont, CA</h4>

<p>Coursework included language acquisition, mathematical problem solving, school technology</p>

<h3>Bachelor of Arts, Education + Child Study</h3>

<h4>Claremont McKenna College, Claremont, CA</h4>

<p>Senior thesis explored linguistic aspects of mathematics and implications for teaching strategies.  Coursework included developmental psychology, educational policy, mathematics, linguistics, art</p>
