
### Web Designer/Developer

#### Part-time freelance, 2009-present

* Design, build, and provide ongoing support
* Create systems for easy updating by non-technical personnel
* CMS platforms: WordPress, tumblr, LightCMS
* Languages: HTML5, CSS (with Sass), SVG, JavaScript (vanilla and jQuery), PHP, mySQL
* See the Projects page for site-specific details

### Technology Coordinator

#### Computer Explorers for St. Simon School, Los Altos, CA 2007-2009

* Designed and built the school website (re-designed via freelance contract in 2014)
* Taught after-school classes in game programming (REALbasic and Scratch), hardware integration (PicoCricket), green screen photography, stop motion animation, geocaching, and girls tech club
* Trained teachers in technology use, and helped develop technology-integrated lessons
* Provided all IT support, purchasing, maintenance, and deployment for the entire campus, including OS X and Windows servers, 250 MacBooks, 36 netbooks running a custom install of Ubuntu Linux, 20 projectors with document cameras, and 3 different interactive whiteboard models
* With no prior server experience, trained myself in OS X server setup and re-built a crashed server in my first week on the job

### Estate Manager/Nanny/Tutor

#### Private family, Palo Alto, CA 2002-2007

* Technology planning, purchasing, installation, maintenance, and support across 5 homes, including network/wifi, multi-room audio, home theater, security, and PBX phone systems
* Built a website for employer's side business in real estate
* Cared for and tutored an awesome kid from age 7-12

### Mentor Teacher

#### Aspire, San Mateo, CA 2001-2002

* Developed curriculum for an academic after-school program for at-risk students in graeds 3-5
* Mentored and supervised a staff of "learning guides" who worked with students and taught lessons in small groups
* Assisted in the setup of a new iMac computer lab

### Multiage Teacher, 4th-6th Grade

#### Bowling Green Charter School, Sacramento, CA, 1999-2001

* Technology lead teacher; attended Computer Using Educator (CUE) conferences
* Punched my own crossover cables to network a mini-lab of Windows computers in my classroom
* Built an Access database to manage student information and class schedules
* Worked with CCC Math Concepts and Skills software, achieving results worthy of the CCC Honor Roll

### Classroom Teacher, 1st-3rd Grades

#### Grace Miller School, La Verne, CA 1997-1999

* Technology task force leader; attended CUE conferences
* Taught 1st-3rd graders to program in LOGO in our antiquated lab of Apple IIe computers
