<h3>Web Development Instructor</h3>
<h4>JobTrain, a non-profit vocational training organization, June - October, 2016</h4>

<ul>
  <li>Taught a 16-week, full-time intensive course to prepare students&mdash;many of whom have never programmed&mdash;for careers in web development</li>
  <li>Received excellent reviews in anonymous student evaluations</li>
  <li>Prepared a completely new curriculum to meet changes in industry needs and student demographics</li>
  <li>Left voluntarily at course completion. Assisted with recruiting and selection of new instructor, and continue to volunteer on Technical Advisory Committee</li>
</ul>

<h3>Instructor and Curriculum Developer</h3>
<h4>Girl Develop It (GDI), 2015-present</h4>

<ul>
  <li>Honored with the Teacher Impact Award for contributions in teaching and curriciulum development in December 2016</li>
  <li>Teach and develop curriculum for low-cost workshops for women on subjects including <a href="http://www.meetup.com/Girl-Develop-It-San-Francisco/events/230969047/" target="_blank">Intro HTML/CSS</a>, <a href="http://www.meetup.com/Girl-Develop-It-San-Francisco/events/233698058/" target="_blank">JavaScript DOM Manipulation</a>, and <a href="http://www.meetup.com/Girl-Develop-It-San-Francisco/events/234114414/" target="_blank">Command Line Basics</a></li>
  <li>Helped coordinate a large-scale open-source contribution night with <a href="http://www.meetup.com/sfhtml5/events/232261764/" target="_blank">SFHTML5</a>, facilitiating issue assignment and pull requests for 150+ contributors to <a href="http://www.teaching-materials.org/" target="_blank">GDI's open-source curriculum materials</a></li>
  <li>Assist in curriculum review of materials for <a href="https://www.girldevelopit.com/materials" target="_blank">GDI national</a></li>
</ul>

<h3>Website Lead (volunteer)</h3>
<h4>OpenSMC, San Mateo County's Code for America Brigade, 2015-present</h4>

<ul>
  <li>Built the initial brigade website and continue to oversee its development. (See <a href="projects/opensmc">OpenSMC project listing</a> for more detail.)</li>
  <li>Mentor new coders toward making code contributions in HTML, CSS, and Bootstrap, using Git for deployment</li>
  <li>Plan projects and administration as a member of the leadership team</li>
  <li>Assist with open data mapping projects, including <a href="https://github.com/opensmc/service-locator" target="_blank">SMC Service Locator</a> and <a href="https://github.com/opensmc/ssmc-agriculture-zoning" target="_blank">"Birds, Bees, and Beans"</a></li>
</ul>

<h3>Teaching Assistant and Curriculum Editor (volunteer)</h3>
<h4>ElmBridge, 2016-present</h4>

<ul>
  <li>Invited to assist students in the first RailsBridge-style <a href="https://www.bridgetroll.org/events/319" target="_blank">workshop</a> for the Elm programming language</li>
  <li>Proofread documentation and submitted PRs for edits. Currently writing new exercises and installation documentation.</li>
</ul>

<h3>Web Designer/Developer</h3>
<h4>Part-time freelance, 2006-present</h4>

<ul>
  <li>Design, build, and provide ongoing support</li>
  <li>Create systems for easy updating by non-technical personnel</li>
  <li>CMS platforms: WordPress, Jekyll, tumblr, LightCMS</li>
  <li>Languages: HTML5, CSS (with Sass), SVG, JavaScript (vanilla and jQuery), PHP, mySQL</li>
  <li>Please visit the <a href="projects">Projects</a> page for site-specific details</li>
</ul>

<h3>Technology Coordinator</h3>
<h4>Computer Explorers for St. Simon School, Los Altos, CA 2007-2009</h4>

<ul>
  <li>Designed and built the school website (re-designed via freelance contract in 2014)</li>
  <li>Taught after-school classes in game programming (REALbasic and Scratch), hardware integration (PicoCricket), green screen photography, stop motion animation, geocaching, and girls' tech club</li>
  <li>Trained teachers in technology use, and helped develop technology-integrated lessons</li>
  <li>Provided all IT support, purchasing, maintenance, and deployment for the entire campus, including OS X and Windows servers, 250 MacBooks, 36 netbooks running a custom install of Ubuntu Linux, 20 projectors with document cameras, and 3 different interactive whiteboard models</li>
  <li>With no prior server experience, trained myself in OS X server setup and re-built a crashed server in my first week on the job</li>
</ul>

<h3>Teacher/Tutor/Nanny</h3>
<h4>Various employers, 1997-2007</h4>

<ul>
  <li>School technology lead teacher</li>
  <li>Built a student information database for scheduling electives</li>
  <li>Taught primary age children to program in LOGO</li>
  <li>Connected and managed network infrastructure for classrooms and homes in a variety of contexts beyond my normal duties</li>
</ul>
