    <li><strong>Public Speaking:</strong> presented talks at <a href="https://wafflejs.com/?day=2016-09-07" target="_blank">WaffleJS</a> and GDG DevFest (<a href="https://devfest-sf-9588c.firebaseapp.com/speakers/16" target="_blank">San Francisco</a> and <a href="https://devfest2016.gdgsv.com/speakers/" target="_blank">Silicon Valley</a>)</li>
    
    <li><strong>Teaching:</strong> thoughtful curriculum design, engaging whole-class instruction, and supportive individual guidance in a variety of environments, including full-time extended programs (JobTrain), evening and weekend workshops (Girl Develop It and ElmBridge), and co-worker/peer training (meetups and school positions)</li>
    
    <li><strong>Support and Documentation:</strong> "very thorough" written tutorials (<a href="https://docs.google.com/document/d/1qOfzVLjMda_BMdY8hgT48wCEpsum_SJY1jwdKckWgQo" target="_blank">sample</a> for a meetup group), prompt and clear email support (freelance, Computer Explorers), patient and collaborative hands-on troubleshooting (freelance, all teaching positions), cross-platform procedure testing and judgement-free debugging for Mac, Windows, and Linux environments</li>
    
    <li><strong>Web Development:</strong> semantic HTML5, CSS (Sass), progressively enhanced JavaScript, optimized SVG, responsive web design (RWD), WCAG-compliant accessibility</li>
    
    <li><strong>Interpersonal:</strong> strong empathy and quick rapport-building, kind and accurate feedback, collaborative problem-solving, friendly and capable customer service</li>
