<ul class="inline-list social-links">
  <li>
    <a href="https://www.linkedin.com/in/verythorough" target="_blank">
      <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
      <span class="icon-label">LinkedIn</span>
    </a>
  </li>
  <li>
    <a href="http://codepen.io/verythorough/" target="_blank">
      <svg class="icon icon-codepen"><use xlink:href="#icon-codepen"></use></svg>
      <span class="icon-label">Codepen</span>
    </a>
  </li>
  <li>
    <a href="https://github.com/verythorough" target="_blank">
      <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
      <span class="icon-label">Github</span>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/verythorough" target="_blank">
      <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
      <span class="icon-label">Twitter</span>
    </a>
  </li>
  <li>
    <a href="mailto:verythorough@gmail.com" target="_blank">
      <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
      <span class="icon-label">Email</span>
    </a>
  </li>
</ul>
