<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
      <header class="site-header">
        <div class="container">
          <h1 class="site-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          </h1>
          {% include social-links.html %}
        </div>
      </header>

      <div class="container content">
        {{ content }}
      </div>

      <footer class="site-footer container">
        <hr class="section-divider">
        {% include social-links.html %}
      </footer>

    {% include svg.html %}

  </body>
</html>
